node_modules/
.env
cache/
artifacts/

coverage*
typechain/

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost

/.dapp
